*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F5F5F5;
}

.header{
    max-width: 688px;
    width: 100%;
    min-height: 230px;
    padding: 0px;
    margin: 64px auto 0;
    
}

h1{
    font-family: inter,  'Arial Narrow Bold', sans-serif;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -2%;
    transform: rotate(0deg);
    opacity: 1;
}

p{
    font-family:  inter,  'Arial Narrow Bold', sans-serif;
    font-size: 21px;
    line-height: 36px;
    letter-spacing: 0%;
    color: #000000;
}


.header__input{
    display: flex;
    gap: 20px;
}

.header__input--1,
.header__input--2{
    display: flex;
    flex-direction: column;
    margin-top: 79px;
}

label{
    color: #818182;
    margin-bottom: 3px;
}
    
.header__input--name{
    width: 452px;
    height: 38px;
    padding: 0;
    color: #ABB5BE;
    padding: 8px;
    border: 1px solid #ABB5BE;
}
    
.header__input--school{
    width: 216px;
    height: 38px;
    color: #ABB5BE;
    padding: 8px;
    border: 1px solid #ABB5BE;
}

.divider{
    width: 100%;
    border: none;
    border-top: 1px solid #DEE2E6;
    margin-top: 40px;
}


